*{
  user-select: none;
}

img{
  max-width: 100%;
  pointer-events: none;
}

body{
  min-height: 100dvh;
  background-color: #272727;
}

.diagonal-div{
  width: 100%;
  height: 70%;
  background-color: #39A900;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);

  position: absolute;
  z-index: -1;
}

.diagonal-div-2{
  position: absolute;
  width: 100%;
  height: 78.75%;
  background-color: #2A7E00;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 5%);

  z-index: -2;
}

.toggle-theme-login{
  display: flex;
  gap: 10px;
  color: #fff;
  position: absolute;
  right: 1em;
  top: 1em;
}

.toggle-theme-login p:hover, .toggle-theme-login i:hover{
  cursor: pointer;
  color: #ddd;
}

.theme-selector-container{
  width: 100%;
  display: none;
  background-color: #2A7E00;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  border-radius: 5px;
  z-index: 1000;
}

.visible-theme-selector-container{
  display: block;
}

.selector{
  padding: 10px;
  text-align: center;
}

.selector:first-child{
  border-radius: 5px 5px 0 0;
}

.selector:last-child{
  border-radius: 0 0 5px 5px;
}

.selector:hover{
  background-color: #272727;
  cursor: pointer;
}


.login-form-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 40%;
  height: 80%;
  padding: 1em 4em;

  display: flex;
  flex-direction: column;
  background-color: #323232A6;
}

.form-logo-container{
  height: 10%;
  width: 100%;
  
  display: flex;
  place-content: center;
  gap: 1em;
  color: #39A900;
}
.form-logo-container span{
  border: 2px solid #39A900;
}
.form-logo-container > h2{
  font-weight: 400;
  font-size: 2em;
}

.login-form-container > p{
  color: #fff;
  margin: 1em auto;
}

.login-form{
  display: flex;
  flex-direction: column;
}

.error-container{
  background-color: #f00;
  margin: 0.5em auto;
  text-align: center;
  color: #fff;
  width: 100%;
  padding: 5px 0;
  border-radius: 5px;
}

.login-form label{
  margin-bottom: 2em;
  color: #fff;
}

.login-form input[type="text"], .login-form input[type="password"]{
  padding: 8px;
  border: none;
  border-radius: 10px;
  font-size: larger;
  margin-bottom: 2em;
  transition: outline 80ms;
  background-color: #272727;
  color: #fff;
}

.password-input-container{
  position: relative;
  height: fit-content;
  margin-bottom: 2em;
}

.view-password-container{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.view-password-container > i{
  font-size: 16px;
}

.view-password-container > i:hover{
  cursor: pointer;
}

.login-form input[type="text"]:focus, .login-form input[type="password"]:focus{
  outline: 2px solid #000;
}

.login-form input[type="submit"]{
  background-color: #002F4D;
  border: none;
  border-radius: 10px;
  padding: 1em;
  color: #fff;
  transition: background 100ms;
  margin-top: 2em;
}

.login-form input[type="submit"]:hover{
  cursor: pointer;
  background-color: #005488;
}

.login-form input[type="submit"]:active{
  background-color: #fff;
  color: #002F4D;
}

#passwordInput{
  width: 100%;
  margin-bottom: 0;
}

/* Media queries */

/* Portatiles */

@media (min-width: 768px) and (max-width: 1024px){
  .login-form-container{
    width: 55%;
  }
}

/* Tablets */
@media (min-width: 480px) and (max-width: 768px){
  .login-form-container{
    width: 70%;
    padding: 1em 2em;
  }
}

/* Móviles */

@media (max-width: 480px){
  .selector{
    padding: 1em;
  }
  .login-form-container{
    width: 80%;
    padding: 1em 2em;
  }

  .login-form input[type="text"]{
    font-size: medium;
  }
}