.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #323232;
    width:100%;
    padding: 20px;
    box-shadow: 0 2px 4px #00000040;
    z-index: 10;
}

.header *{
  color: #fff;
}

.header > span > i{
    display: none;
    font-size: 30px;
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
}

.header img{
    display: none;
}

.header h1{
    font-size: 1em;
    font-weight: 400;
}

.header > div{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.header > div > i{
    font-size: 25px;
}

.header button{
    background-color: #272727;
    border: none;
    border-radius: 5px;
    padding: 1em 3em;
    color: red;
    cursor: pointer;
    box-shadow: 0 4px 4px #00000040;

    transition: background 100ms;
}

.header button:hover{
    background-color: #373737;
}

/* Media queries */

/* Tablets */
@media (min-width: 480px) and (max-width: 768px){
  .header > div > a > button{
    padding: 1em 2em;
  }

  .header > div > h1{
    display: none;
  }
}

@media (max-width: 480px){
    .header{
        padding: 1em;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .header img{
        display: block;
        height: 4em;
    }
  .header > div > a > button{
    display: none;
  }

  .header > div > i{
    display: none;
  }

  .header  h1{
    display: none;
  }

  .header > span > i{
    display: block;
  }
}