*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: #Ffff;
    width: 80%;
    position: absolute;
    right: 0;
    padding: 20px;

    h1{
        color: black;
        padding: 5px;
    }
    
    a{
        padding: 5px;
        button{
            background-color: #F0F0F0;
            border: none;
            cursor: pointer;
            width: 170px;
            padding: 15px;
            color: red;
        }
    }
    button:hover{
        background-color: rgb(204, 158, 158);
    }
}